@charset "utf-8";
/* style-template */

@font-face {
	font-family: pcf-r;
	src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
	font-family: pt-r;
	src: url("../fonts/PTSans-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, p, li, ul, body, container {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.w-100 {
	width: 100%;
}

.w-90 {
	width: 90%;
}

.w-80 {
	width: 80%;
}

@media screen and (max-width:991px) {
	
}

@media screen and (max-width:767px) {
	
}

@media screen and (max-width:565px) {
	
}